<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747258885865-sr5bng24sbocmgor446n41oqun3uoic6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747258885865-sr5bng24sbocmgor446n41oqun3uoic6</string>
	<key>API_KEY</key>
	<string>AIzaSyAMYsTjGkNvX6xRDh1oH72vOGZf6oiz3vk</string>
	<key>GCM_SENDER_ID</key>
	<string>747258885865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dishDive</string>
	<key>PROJECT_ID</key>
	<string>dishdive-c19d5</string>
	<key>STORAGE_BUCKET</key>
	<string>dishdive-c19d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747258885865:ios:bddffee53eeee08a67a278</string>
</dict>
</plist>